.menu {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, [col-start] 1fr [col-end]);
    grid-template-rows: repeat(4,  1fr );

    &--1 {
        background-color: $color-yellow;
    }
    &--2 {
        background-color: $color-green;
    }
    &--3 {
        background-color: $color-blue;
    }

    & > div:not(:last-child) {
        border: 1px solid rgba(0,0,0,.4);
    }

    &__ingredients {
        grid-column: col-start 1 / col-end 2;
        padding: 3rem ;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-heading {
            font-size: 1.5rem;
            font-weight: 700;
        }
        &-list {
            font-size: 2.5rem;
        }
    }

    &__ingredient-img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 10rem;
            height: 10rem;
        }
        &--1 {
            grid-column: col-start 3 / col-end 3;
        }
        &--2 {
            grid-column: col-start 4 / col-end 4;
        }
        &--3 {
            grid-column: col-start 5 / col-end 5;
        }
    }

    &__photo {
        grid-row: 2 / -1;
        grid-column: col-start 1 / col-end 2;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__number {
        padding: 1.5rem;
    }
    &__price {
        grid-row: 2 / span 1;
        grid-column: col-start 5 / col-end 5;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__heading {
        grid-row: 2 / -1;
        grid-column: col-start 3 / col-end 5;
        border: 0;
        padding: 2rem;
        align-self: end;
        font-size: 4rem;
        text-transform: uppercase;
        text-align: right;
    }

}

.number {
    grid-row: 2 / span 1;
    grid-column: col-start 3 / col-end 3;
    font-size: 2rem;
    font-family: sans-serif;
    span {
        margin-right: .5rem;
    }

    sup {
        font-size: 1rem;
        border-bottom: 1px solid currentColor;
     }
}


.price {
    font-size: 5rem;
    font-family: sans-serif;

    sup {
        font-size: 2rem;
        border-bottom: 1px solid currentColor;
        padding-bottom: 3px;
    }

}

.drink {
    display: grid;
    grid-template-rows: repeat(2, 50vh);
    grid-template-columns: repeat(4, 25vw);
    background-color: #ef374b;

    & > div {
        border: 1px solid rgba(0,0,0,.4);
    }

    &__heading {
        font-size: 4rem;
        font-weight: 100;
        padding: 2rem;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    &__item {
        font-size: 4rem;
    }

    &__price {
        margin-top: auto;
    }
}